<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Definir el patrón de los logs -->
    <property name="LOG_PATTERN" value="%d [%t] %-5level %logger{35} - %msg%n"/>

    <!-- Configurar la salida de logs a la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Configurar la rotación de ficheros -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/spring-logging.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/spring-logging-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Definir los loggers -->
    <root level="ERROR">
        <appender-ref ref="FILE"/>
    </root>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
