<div class="custom-card">
    <div class="custom-card-header" style="margin-left: 0px;">
        <ul class="custom-nav">
            <li class="custom-nav-item" *ngIf="!connected">
                <input type="text" class="custom-form-control customizable" [(ngModel)]="message.username" placeholder="Username" name="username" style="width: 295px; margin-left: 0;">
            </li>

            <li class="custom-nav-item">
                <button class="btn btn-success" type="button" (click)="connect()" *ngIf="!connected" [disabled]="!message.username">Connect</button>
            </li>
            
            <li class="custom-nav-item">
                <div style="margin-left: -30px;">
                    <button class="btn btn-warning" type="button" (click)="disconnect()" *ngIf="connected">Exit</button>
                    <span *ngIf="connected" style="font-size: medium; margin-left: 100px;">Logged in as <span style="font-weight: bold;" [ngStyle]="{'color': message.color}">@{{message.username}}</span></span>
                </div>
            </li>
        </ul>
    </div>

    <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="height: 360px; border-radius: 5px 5px 0 0;" *ngIf="connected">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-light" *ngFor="let message of messages">
                <span *ngIf="message.type == 'NEW_USER'">
                    <span style="font-weight: bold;">{{message.date | date: 'shortTime'}}</span> @ {{message.text}}
                    <span [ngStyle]="{'color': message.color}">{{message.username}}</span>
                </span>
                <span *ngIf="message.type == 'MESSAGE'">
                    <span style="font-weight: bold;">{{message.date | date: 'shortTime'}} </span>
                    <span [ngStyle]="{'color': message.color}">{{message.username}}</span> : {{message.text}}
                </span>
            </li>
        </ul>
    </div>

    <div class="card-footer" *ngIf="connected">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="custom-form-control" [(ngModel)]="message.text" placeholder="Write a message..." name="text" style="width: 465px;" (keyup)="writinEvent()">
            </div>

            <button class="btn btn-primary" style="margin-top: 15px;" type="submit" (click)="sendMessage()">Send</button>
        </form>

        <div>{{writing}}</div>
    </div>
</div>