/* Style the h1 element */
h1 {
    font-size: 24px;
    color: #000000; /* Change the color to your preference */
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 10px; /* Adjust letter spacing */
    font-weight: bold; /* Make it bold */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: fuchsia;
    padding: 10px 10px;
    border-radius: 5px
  }

.with-background {
margin-top: 10px;
background-image: url('/assets/backk.avif'); /* Ruta a tu imagen de fondo */
background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
background-repeat: no-repeat; /* Evita que la imagen se repita */
background-position: center center; /* Centra la imagen */
border-radius: 5px;
}
  