<h1>Introduce tus datos</h1>

<div id="form">
    <form class="custom-form" #usernameForm="ngForm" (ngSubmit)="onSubmit(usernameForm.value)">
        <div class="form-group">
            <input type="text" name="username" placeholder="Username" ngModel>
        </div>

        <div class="form-group">
            <input type="password" name="password" placeholder="Password" ngModel>
        </div>

        <div *ngIf="show" class="error-message">
            Wrong password
        </div>

        <button class="button" type="submit">Add player</button>
    </form>
</div>
